@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* global style */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* My body */
body {
    background-color: #e5e5e5;
}

.bk_cntnt_clr {
    background-color: #fff;
}

.hdr_cntnr {
    width: auto;
    height: 48px;
    border-bottom-left-radius: 8px;
    display: flex;

    /* z-index: 100; */
    border-bottom-right-radius: 8px;

    /* border: 1px red solid; */
}

.lg_cntnr {
    width: 100px;
    height: 100%;
    padding: 10px 12px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;

    /* border: 5px solid green; */
}

.lg_itm {
    /* border: 1px solid crimson; */
    height: 25px;
    padding-top: 2px;
    cursor: pointer;
}

.lg {
    color: #6070ff;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    text-decoration: none;
    font-weight: bold;
}

.mnu_box {
    display: flex;
    justify-content: flex-end;

    /* border: 2px solid orange; */
    width: 100px;
    height: 100%;
    flex-grow: 1;
}

.mnu_lin {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid deeppink; */
    width: 40px;
    height: 100%;
    gap: 2.5px;
    padding-top: 10px;
}

.jst_lin {
    width: 25px;
    height: 4px;
    background-color: #6070ff;
    list-style: none;
}

#intr_part {
    /* border: 1px solid darkred; */
}

.hdlin_box {
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    border-bottom-left-radius: 100px;
    background-size: cover;
    background-image: url("header-shapes mobile.png");
    background-color: #fff;
}

.hdlin_pra_intro {
    /* border: 1px solid brown; */
    width: 327px;
    height: 180px;
    flex: none;
    order: 0;
    margin: 5px;
}

.intro_para {
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    padding: 8px;
}

.info_box {
    /* border: 1px solid blue; */
    margin: 5px 15px;
    line-height: 24px;
    text-align: start;
}

.info_txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
}

.social_lnk_txt_box {
    /* border: 1px solid aqua; */
    width: 140px;
    height: 24px;
    margin: 20px 24px 2px 24px;
}

.scial_lnk_txt {
    /* border: 1px solid red; */
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
}

.social_lnk_icn_box {
    /* border: 1px solid chartreuse; */
    width: 175px;
    height: 40px;
    margin: 5px 24px;
}

.social_lnk_box {
    display: flex;

    /* border: 1px solid deeppink; */
    flex-grow: 1;
    padding: 1px;
    column-gap: 19px;
    align-items: center;
    justify-content: center;
}

.social_lnk_imgs_box {
    width: 20px;
    height: 25px;
    margin-top: 12px;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    list-style: none;

    /* border: 3px solid magenta; */
}

.social_lnk_img_props {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
}

.img1_twt {
    background-image: url("twitter_icon.svg");
}

.img2_lin {
    background-image: url("linkedin_icon.svg");
}

.img3_mdm {
    background-image: url("medium_icon.svg");
}

.img4_gthb {
    background-image: url("github_icon.svg");
}

.img5_pc {
    background-image: url("peace_icon.svg");
}

#work_part {
    /* border: 3px solid purple; */
}
.proj_cards {
    height: 580px;
    margin: 100px 24px;
    border-radius: 16px;
    display: grid;

    /* border: 3px solid black; */
    gap: 1px;
    grid-template-areas: 'header header header' 'description description description' 'footer footer footer';
}

.prj_cars_itms {
    width: 100%;
    margin-top: 5px;

    /* border: 3px solid crimson; */
}

.prj_crds_itm_hedr {
    /* border: 3px solid rebeccapurple; */
    grid-area: header;
    padding: 20px 20px 10px;
    height: 100%;
}

.prj_cars_itms_hdr_img_box {
    /* border: 3px solid #344563; */
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #fa9c66;
    border-radius: 8px;
}

.prj_cars_itms_hdr_img_pad {
    width: 100%;
    height: 90%;
    padding: 15px;
}

.prj_cars_itms_hdr_img {
    width: 100%;
    height: 100%;
}

.prj_cars_itms_info {
    grid-area: description;
    padding: 10px;

    /* border: 3px solid navy; */
}

.prj_cars_itms_info_titl {
    width: 100%;

    /* border: 3px solid navy; */
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.prj_cars_itms_info_titl_txt {
    width: 100%;

    /* border: 3px solid navy; */
    padding-left: 12px;
    font-size: 25px;
}

.prj_cars_itms_info_sbtle_box {
    width: 100%;

    /* border: 3px solid navy; */
}

.prj_cars_itms_info_sbtle_txt {
    display: flex;
    flex-direction: row;

    /* border: 3px solid navy; */
    gap: 30px;
    padding-left: 16px;
}

.prj_cars_itms_info_sbtle_lst_one {
    /* border: 1px solid navy; */
    list-style: none;
    font-size: 13px;
    margin-top: 7px;
    font-weight: 500;
}

.prj_cars_itms_info_sbtle_lst {
    /* border: 1px solid navy; */
    font-size: 13px;
    opacity: 0.5;
}

.prj_cars_itms_info_sbtle_lst::marker {
    /* border: 1px solid navy; */
    font-size: 20px;
    opacity: 0.5;
}

.prj_cars_itms_info_para_box {
    width: 100%;
    margin-top: 10px;
    padding-left: 16px;

    /* border: 3px solid crimson; */
}

.prj_cars_itms_info_tech_box {
    width: 100%;
    margin-top: 20px;
    padding-left: 25px;

    /* border: 3px solid mediumvioletred; */
}

.prj_cars_itms_info_tech_lst {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    color: #6070ff;
}

.prj_cars_itms_info_tech_lst_itms {
    /* border: 3px solid darkred; */
    text-decoration: none;
    padding: 4px 12px;
    background-color: #d9d9f5;
    border-radius: 8px;
    opacity: 0.5;
    color: #6070ff;
}

/* project buttom placeholder */
.prj_cars_itms_info_btn_box {
    width: 100%;
    height: 100px;
    display: flex;
    padding-left: 14px;
    justify-content: flex-start;
    align-items: center;
}

/* my grid footer buttom */
.prj_cars_itms_info_btn {
    padding: 10px;

    /* border: 1px solid #6070ff; */
    border-radius: 8px;
    font-size: 17px;
    background-color: transparent;
    color: #396df2;
    cursor: pointer;
    text-decoration: none;
}

.abt_prt {
    /* border: 3px solid yellow; */
    width: 100%;
    margin: 2px;
    background-color: #fff;
    border-top-right-radius: 100px;
    padding: 10px 10px 100px 10px;
}

.abt_prt_ttle_box {
    /* border: 1px solid black; */
    padding: 100px 24px 0;
}

.abt_prt_ttle_box_txt {
    font-size: 40px;
    color: #172b4d;
}

.abt_prt_para_box {
    /* border: 1px solid khaki; */
    margin: 10px;
}

.abt_prt_stck_box {
    /* border: 3px solid black; */
    margin: 10px 16px;
}

.abt_prt_dropdwn {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    padding: 10px 0 20px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #dfe1e6;
    position: relative;
}

.abt_prt_dropdwn_titles li {
    list-style: none;
}

.abt_prt_dropdwn_txt {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.dropdown_arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16.5px;
    right: 10px;
    background-color: #6171ff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 50% 50%);
}

.lang_box {
    /* border: 10px solid orange; */

    /* border:1px solid black; */
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}

.lang {
    margin: 10px;
    padding: 10px;
    background-color: #f7f7f9;
    list-style: none;
    border-radius: 10px;
}

.lang_img_txt_box {
    /* border: 1px solid darkred; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.lang_img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 2px;
    background-size: cover;
}

.lang_img_a {
    background-image: url("code_icon_a.PNG");
}

.lang_img_b {
    background-image: url("code_icon_b.PNG");
}

.lang_img_c {
    background-image: url("code_icon_c.PNG");
}
.form_box {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    margin-top: -50px;
    background-color: #6070ff;
    background-image: url("header-shapes mobile@2x.svg");
    background-size: cover;
    border-top-left-radius: 80px;
}

.form_ttle_box {
    display: flex;
    align-items: center;

    /* border: 2px solid red; */
    justify-content: center;
    padding-top: 80px;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 12px;
    color: #fff;
}

.form_para_box {
    margin: 0 24px;
    text-align: center;
}

.form_para {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.form_fields {
    margin-top: 50px;

    /* border: 3px solid chartreuse; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form_fields_input {
    padding: 15px;
    font-weight: 400;
    width: 100%;
    border-radius: 10px;
}

.form_fields_txt_area {
    padding: 15px;
    font-weight: 400;
    min-width: 100%;
    border-radius: 10px;

    /* border: 1px solid #cfd8dc; */
    min-height: 150px;
    max-height: 180px;
    background-color: #fff;
    max-width: 100%;
}

.submit_btn {
    display: inline-flex;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 10px;

    /* letter-spacing: 1.5px; */
    font-size: 17px;
    color: #6070ff;
}

/* Adding Media queries for desktop version */

/* Hide mobile hamburguer menu */
@media only screen and (max-width: 400px) {
    .dsk_mnu_lnks {
        display: none;
    }
}

/* Desktop query portfolio version */
@media only screen and (min-width: 992px) {
    .hide {
        display: none;
    }

    .desk_mnu {
        display: flex;
        width: 100%;
        margin-right: 100px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        gap: 10px;
    }

    .dsk_mnu_lnks {
        list-style: none;
        margin: 0 10px;
        transition: color 250ms ease;
    }

    .dsk_mnu_lnks:hover {
        color: #344563;
    }

    .mnu_box {
        height: 100%;
        padding: 10px 12px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    /*  =-=========================================================== */
    .hdlin_box {
        padding: 320px 300px;

        /* border: 1px solid red; */
    }

    .hdlin_pra_intro {
        width: 400px;

        /* border: 1px solid violet; */
    }

    .info_txt {
        font-size: 20px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 3px;
        font-weight: 400;
    }
    /*    ================================Work============ */
    #work_part {
        padding: 100px;
    }

    .proj_cards {
        border-radius: 25px;
        display: flex;

        /* border: 1px solid hotpink; */

        transition: ease-in-out 450ms;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .proj_cards:hover {

        box-shadow: 0 0 0 3px #6070ff, 3px 3px 6px rgb(85, 84, 84);
        transform: translateY(-20px);
    }

    .prj_cars_itms_info {
        /* border: 1px solid navy; */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .prj_cars_itms_info_titl_txt {
        padding: 12px;
        font-size: 36px;
    }

    .prj_cars_itms_info_para {
        color: #344563;
        letter-spacing: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    .prj_cars_itms_info_para_box {
        /* border: 3px solid green; */
        margin-top: 24px;
    }

    .abt_prt {
        display: flex;
    }

    .about-items-a {
        width: 50%;
        flex-grow: 1;
    }

    .about-items-b {
        width: 50%;

        /* border: 1px solid darkred; */
        flex-grow: 1;
        justify-content: flex-start;
        margin: 50px 100px 0 0;
    }

    .lang_box {
        display: flex;
        flex-direction: row;
    }

    .lang_img_txt_box {
        display: flex;
        width: 122px;
        padding: 12px;
        flex-direction: column;
    }
    .form_box {
        background-size: contain;
    }

    .form_flex_center {
        display: flex;
        justify-content: center;
    }

    .form_para {
        width: 33%;
        text-align: center;
    }

    .form_fields {
        width: 25%;
    }
}

